body{
    font-family: 'Patrick Hand', cursive;
    background-color:lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
h1{
    font-family: 'Patrick Hand', cursive;
    font-size: 52px;
    margin: 30px 0 60px 0;
}
.gameboard{
    width: 471px;
    height: 471px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   
}
.menu{
    width: 468px;
    height: 468px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}
.bigBlock{
    width: 153px;
    height: 153px;
    border: solid 2px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}
.block{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 42px;
    border:solid 0.5px ;
    margin:0;
}
.keyboard{
    width:260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    margin: 30px
}
.keyblock{
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 40px;
    border: solid 1px ;
    margin: 0px;
    transition-duration: 0.2s;
}

button {
    transition-duration: 0.2s;
  }
  
button:hover {
  
    border-color: white;
  }

#messageBar{
    
    text-align: center;
    
    font-size: 40px;
}
#levels{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
}
.level{
    margin:30px;
    
    font-size:35px
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    
}
.topBar{
    margin: 10px;
    margin-right: 5px;
}
.scoreBar{
    margin-left: 0;
}
.popup{
    font-family: 'Patrick Hand', cursive;
    z-index: 3;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 320px;
    background-color: lightseagreen;
    text-align: center;
    margin: 20px;
    font-size: 42px;
    border: oldlace solid 2px;
}
.inside_popup{
    font-family: 'Patrick Hand', cursive;
    display: flex;
    margin: 25px 20px 10px 20px;
}