body{
    background-color:lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
h1{
    font-family: 'Patrick Hand', cursive;
    font-size: 52px;
}
.gameboard{
    width: 468px;
    height: 468px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   
}
.menu{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}
.bigBlock{
    width: 153px;
    height: 153px;
    border: solid 1.5px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}
.block{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 42px;
    border:solid 0.5px ;
    margin:0;
}
.keyboard{
    width:260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    margin: 30px
}
.keyblock{
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 40px;
    border: solid 1px ;
    margin: 0px;
    transition-duration: 0.2s;
}

button {
    transition-duration: 0.2s;
  }
  
button:hover {
  
    border-color: white;
  }

#messageBar{
    
    text-align: center;
    
    font-size: 40px;
}
#levels{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
}
.level{
    margin:30px;
    background-color:chartreuse; 
    font-size:35px
}
a{
    text-decoration: none;
}